extends ../exclude/layout

block continue_head
  -var description = "Guitar Lessons online for Kids and Adults. MusicSOL provides online guitar lessons for all ages."
  -var title = "Online Music Lessons for Kids and Adults | MusicSOL"
  meta(property='og:description' content=description)
  meta(name='description' content=description)
  //- meta(name='author' content='')
  meta(property='og:title' content=title)
  meta(property='og:url' content='MusicSOL.net')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property="og:image" content="https://musicsol.net/assets/img/M-logo.png")
  title=title

block below-header-container
  include ../exclude/carousel-mini
    block inside-carousel
    #index-header-text
      h1 Online Music Lessons for Kids and Adults
      

block content
  .gradient-overlay
  #ty-modal.modal(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Thank you!
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body.text-center
          p#assign-confirm-body
            br
            | Student has been assigned to you successfully!
            br
            | Please log into your account to schedule the student.
            br
            a(href='https://musicsol.net/login') Click here to log in

block continue_scripts
  script(src='js/confirm-student.js')
  script(src='js/scripts.js')
